
<div class="container">
    <h2 style="text-align:center; color: rgb(43, 128, 128)" >Podaci o korisniku</h2>
               
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
         
          <th>Phone</th>
          <th>Role</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          
          <td>{{user.phoneNumber}}</td>
          <td>{{user.role}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>