#container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Table */
  
  table {
    background: linear-gradient(180deg, rgb(24, 66, 109), rgb(25, 190, 198));
    width: 50%;
    height: 70%;
    border-collapse: collapse;
    box-shadow: 5px 5px 20px #38393a;
    cursor: pointer;
    border-radius: 25px;
    overflow:hidden;
    transition: all 0.5s;
  }
  
  th {
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 30px;
  }
  
  td {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color:white

  }
  
  #header {
    background: rgb(24, 95, 175);
    height: 40px;
  }
  
  /* Hover Effects */
  
  th:hover {
    background: rgb(14, 53, 116);
  }
  
  tr:hover {
    background: rgba(206, 223, 239, 0.2);
  }
  
  td:hover, .planets:hover {
    background: rgb(82, 177, 221);
    font-size: 18px;
    font-weight: bold;
  }
  
  table:hover {
    width: 51%;
    transform: translate(0px,-10px);
    box-shadow: 15px 15px 66px #38393a;
  }
  img {
    width:100px;
    height:100px;
    background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
  }