

<div class="container">
	<div class="row">
		<div class="col-xl-12">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
               <img src="{{user.profilePicPath}}" style="width:200px; height:200px">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank">{{user.firstName}}</a><hr>
                    </div>
                    <div class="desc">{{user.lastName}}</div>
                    <div class="desc">E-mail: {{user.email}}</div>
                    <div class="desc">Phone number: {{user.phoneNumber}}</div>
                    <div class="desc"> Role: {{user.role}}</div>
                </div>
                <div class="bottom">
                    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a class="btn btn-danger btn-sm" rel="publisher"
                       href="https://plus.google.com">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a class="btn btn-primary btn-sm" rel="publisher"
                       href="https://plus.google.com">
                        <i class="fa fa-facebook"></i>
                    </a>
                   
                </div>
            </div>

        </div>

	</div>
</div>