<nav id="nav" class="navbar navbar-expand-md bg-light navbar-light sticky-top">
  <a class="navbar-brand" href="#">DoolooApp</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
    
  </button>
  
  
  <div id="navb" class="navbar-collapse collapse hide">
    
      <a class="navbar-brand" href="#" style="width: 3%; position:fixed">
          <img src="https://cdnaws.recis.io/i/img/00/59/25/57_f02ff9.png" class="img-fluid">
       </a>

     

   

    <ul class="nav navbar-nav ml-auto">
       
     
        <div class="btn-group">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Studijski program
              <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/informacione-tehnologije">Informacione tehnologije</a>
                 
                
                </div>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile
                      <div class=dropdown-menu>
                          <a class="dropdown-item" routerLink="/userdashboard">Profile</a>
                          <a class="dropdown-item" routerLink="/admindashboard">Admindashboard</a>
                          <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/signup']" routerLinkActive *ngIf="!currentStatus.status">Sign Up</a>
                        
                        
                            <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/login']" routerLinkActive *ngIf="!currentStatus.status">Login</a>
                     
                        
                            <a class="dropdown-item" href="javascript:void(0)" (click)="logout()" *ngIf="currentStatus.status">Logout</a>
                  
                       </div>
                  </button>
          </div>

        
              
     
    </div>
    <small class="logovankorisnik">{{userName}}</small>
   

     
         
       

   
        
 
    </ul>
  </div>
 

  

</nav>














<router-outlet></router-outlet>