table{
    text-align:center
}
#dugmezaunos{
    margin-top: 20px;
}

#predmeti{
    margin-top: 40px;
}
#container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Table */
  
  table {
    background: linear-gradient(180deg, rgb(102, 108, 114), rgb(28, 29, 29));
    width: 90%;
    height: 70%;
    border-collapse: collapse;
    box-shadow: 5px 5px 20px #38393a;
    cursor: pointer;
    border-radius: 25px;
    overflow:hidden;
    transition: all 0.5s;
  }
  
  th {
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 30px;
  }
  
  td {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color:white

  }
  
  #header {
    background: rgb(24, 95, 175);
    height: 40px;
  }
  
  /* Hover Effects */
  
  th:hover {
    background: rgb(74, 81, 92);
  }
  
  tr:hover {
    background: rgba(206, 223, 239, 0.2);
  }
  
  td:hover, .planets:hover {
    background: rgb(76, 79, 80);
    font-size: 18px;
    font-weight: bold;
  }
  
  table:hover {
    width: 51%;
    transform: translate(0px,-10px);
    box-shadow: 15px 15px 66px #38393a;
  }
  .active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    }