  
body {
  background: #C5E1A5;
}
form {
  width: 90%;
  margin: 60px auto;
  background: #201c1c;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  height:30%
}
label {
  display: block;
  position: relative;
  margin: 40px 0px;
  width:100%;
}
.label-txt {
  position: absolute;
  top: -1.4em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .7em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
  width:100%;
}
.input {
  width: 100%;
  padding: 9px;
  background: transparent;
  border: none;
  outline: none;
  color: whitesmoke
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(238, 58, 52);
  transition: ease .6s;
 
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 10px 22px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
  margin-top: 10px;
}

button:hover {
  background: rgb(238, 58, 52);
  color: #ffffff;
  
}

[type="file"] {
/* Style the color of the message that says 'No file chosen' */
  color: #878787;
}
[type="file"]::-webkit-file-upload-button {
  background:rgb(238, 58, 52);
  border: 2px solid rgb(238, 58, 52);
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 8px 22px;
  text-transform: uppercase;
  transition: all 1s ease;
  
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid #535353;
  color: #000;
}
#uploadid{
  color:whitesmoke;
  top: -1.2em;
  padding: 5px;
  font-family: sans-serif;
  font-size: 0.9em;
  letter-spacing: 1px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}