<div>
    <flx-ui-datatable 
    [headers]="['Profile Picture','Firstname','Lastname', 'Email', 'Phone', 'Role']"
    [dataKeys]="['profilePicPath','firstName', 'lastName', 'email', 'phoneNumber', 'role' ]"
    [dataUrl]="'https://doolooapp.herokuapp.com/users'"

    [limit]="7"
    
    spinnerSrc="https://cdn-images-1.medium.com/max/1600/0*cWpsf9D3g346Va20.gif"
    [hasActionButtons]="true"
    (firstActionButtonClicked)="firstButtonClicked($event)"
    (secondActionButtonClicked)="secondButtonClicked($event)"
    [embedPictures]="{index:0, rootFolder:'', fallbackUrl:'https://archive.ica.art/sites/default/files/styles/banner-landscape/public/images/WEBno%20image%20%281%29.jpg?itok=Lx57-wSo', class:'myimage'}"
    [actionButtons]="[{text: 'Edit',class:'btn-info',icon:'fa fa-edit' }, {text:'Delete',class:'btn-danger', icon:'fa fa-trash', iconPosition:'right' }]" >
    </flx-ui-datatable>
    </div>