#container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Table */

table {
  background: linear-gradient(180deg, rgb(157, 160, 163), rgb(162, 220, 223));
  width: 50%;
  height: 70%;
  border-collapse: collapse;
  box-shadow: 5px 5px 20px #38393a;
  cursor: pointer;
  border-radius: 25px;
  overflow:hidden;
  transition: all 0.5s;
  
}

th {
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 30px;
}

td {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  color:white

}

#header {
  background: rgb(131, 135, 139);
  height: 
}

/* Hover Effects */

th:hover {
  background: rgb(113, 117, 124);
}

tr:hover {
  background: rgba(206, 223, 239, 0.2);
}

td:hover, .planets:hover {
  background: rgb(147, 172, 184);
  font-size: 18px;
  font-weight: bold;
}

table:hover {
  width: 51%;
  transform: translate(0px,-10px);
  box-shadow: 15px 15px 66px #38393a;
}