.btn{
    
    margin-bottom: 20px;
}
.container{
    margin-top: 20px;

    color: #4254b9;
}

.fa {
    font-size: 2em !important;
    color: #fff;
    padding-left: 15px;
  }
  form {
    margin-top: 10%;
    /*border: 1px solid;*/
  }



  
  