
<div class="navbaar">
   

    <a href="https://sr-rs.facebook.com/FTNCa/" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="https://www.youtube.com/channel/UC2Yyw1KpZF8vkM0S285csYA" class="fa fa-youtube"></a>
<a href="https://www.instagram.com/spftn_ca/" class="fa fa-instagram"></a>

<a href="#" routerLink="/contact" class="fa fa-flickr"></a>
  </div>
  
 

<div class="pimg1">
    <div class="ptext" style="margin-top: 50px; ">
      <span class="border" >
        DOOLOO APP
      </span>
    </div>
  </div>

  <section class="section section-light" >
    <h2></h2>
    <p>
     
    </p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
        <a routerLink="/signup" style="color: rgb(255, 255, 255)">SIGN UP</a> 
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2></h2>
    <p>
      
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
        <a routerLink="/informacione-tehnologije" style="color: rgb(223, 222, 222)">STUDIJSKI PROGRAM</a>
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2><u>O studijskom programu:</u></h2>
    <p>
      Informacione tehnologije kao disciplina izucavaju administraciju racunarskih mreza, poslovnog softvera, baza podataka, administracije klijentskih i serverskih operativnih sistema.<br><hr>
      Ovaj strukovni program pruza idealnu kombinaciju prakticnih znanja i vestina potrebnih za adekvatno funkcionisanje racunarske infrastrukture.
    </p>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        TelNet team
      </span>
    </div>
  </div>
 