
<div class="navbaar">
   
    <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2875.0123964448358!2d20.34265031521129!3d43.89700997911371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4757721aaff632bd%3A0xbddc942f15d8696d!2sFakultet+tehni%C4%8Dkih+nauka+u+%C4%8Ca%C4%8Dku!5e0!3m2!1ssr!2srs!4v1559028834381!5m2!1ssr!2srs" width="600" height="80" frameborder="0" style="border:0" allowfullscreen></iframe>

    <a href="https://sr-rs.facebook.com/FTNCa/" class="fa fa-facebook" id="dugmici"></a>
    <a href="https://www.instagram.com/spftn_ca/" class="fa fa-instagram" id="dugmici"></a>
    <a href="https://www.youtube.com/channel/UC2Yyw1KpZF8vkM0S285csYA" class="fa fa-youtube" id="dugmici"></a>

  </div>
 